<div>
  <label class="padding-5">Hi {{game.user}}! Your game Id is {{game.id}}</label>
  <div class="col flex border-bottom padding-5" *ngFor="let guess of game.guesses">
    <label>{{game.guesses!.indexOf(guess) + 1}}. Attempt ({{game.maxGuesses! - (game.guesses!.indexOf(guess) + 1)}} left):</label>
    <app-attempt [availableColors]="colors" [selectedColor]="guess.colors![0]" (attempt)="changeColor(0, $event)"></app-attempt>
    <app-attempt [availableColors]="colors" [selectedColor]="guess.colors![1]" (attempt)="changeColor(1, $event)"></app-attempt>
    <app-attempt [availableColors]="colors" [selectedColor]="guess.colors![2]" (attempt)="changeColor(2, $event)"></app-attempt>
    <app-attempt [availableColors]="colors" [selectedColor]="guess.colors![3]" (attempt)="changeColor(3, $event)"></app-attempt>
    <button class="btn btn-primary" [disabled]="!allColorsSelected(guess.colors!)" *ngIf="guess.colors!.includes('') || guess.correctColor! == -1" (click)="submitAttempt()">Submit</button>
    <div class="row" *ngIf="!guess.colors!.includes('') && guess.correctColor != -1">
      <label>Correct color: {{guess.correctColor}}</label>
      <label>Correct color and position: {{guess.correctColorAndPosition}}</label>
    </div>
  </div>
  <label *ngIf="hasWon(game.guesses![game.guesses!.length - 1])">Great, you solved the pattern</label>
  <label *ngIf="hasLost(game.guesses![game.guesses!.length - 1])">You are pretty bad, learn how to play this game you *****</label>
  <label></label>
</div>
